@import url('https://fonts.googleapis.com/css2?family=Homemade+Apple&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dosis&display=swap');
html {
    background-color: #f3f1f7;
}

form {
    background-color: #79c5e8;
    border: 2px solid black;
    height: 370px;
    width: 500px;
    display: flex;
    align-items: center;
    flex-direction: column;
    border-radius: 5px;
    padding-bottom: 10px;
}

.form-container {
    position: fixed;
    top: 20%;
    left: 29%;
    background-color: rgba(0, 0, 0, 0.8);
}

.thoughts {
    text-align: center;
    font-family: 'Homemade Apple';
    color: #03a9f4;
    font-size: 35px;
}

.postBox {
    display: flex;
    justify-content: center;
}

.newThought {
    background-color: #03a9f4;
    font-family: 'Dosis';
    color: white;
    font-weight: bolder;
    font-size: 22px;
    border-style: none;
    height: 50px;
    width: 500px;
    border: 2px solid black;
    border-radius: 5px;
}

.trashButton {
    margin-left: 400px;
    margin-bottom: 20px;
    background-color: #03a9f4;
    font-family: 'Dosis';
    color: white;
    font-weight: bolder;
    font-size: 15px;
    border: 2px solid black;
    border-radius: 5px;
}

.thoughtButton {
    display: flex;
    justify-content: center;
    padding: 15px;
}

.postBox {
    display: flex;
    justify-content: center;
}

.posted {
    background-color: white;
    min-height: 200px;
    width: 500px;
    border: 2px solid black;
    border-radius: 5px;
    font-size: 30px;
    font-family: 'Dosis';
    text-align: left;
    padding-left: 22px;
}

.closeButton {
    margin-left: 435px;
    margin-top: 10px;
    font-weight: bold;
    font-family: 'Dosis';
    border: 2px solid black;
    border-radius: 4px;
    color: black;
    font-weight: bolder;
    font-size: 15px;
}

.addPostButton {
    font-weight: bold;
    font-family: 'Dosis';
    font-size: 18px;
    margin-top: 10px;
    width: 409px;
    height: 50px;
    border: 2px solid black;
    border-radius: 4px;
}

.titleThought {
    font-family: 'Dosis';
    font-weight: bold;
    font-size: 30px;
    margin-right: 375px;
}

.thoughtText {
    font-family: 'Dosis';
    font-weight: bold;
    font-size: 25px;
    margin-right: 350px;
}

textarea {
    width: 80%;
    height: 50%;
    border: 2px solid black;
    border-radius: 4px;
    font-size: large;
}

input {
    width: 80%;
    border: 2px solid black;
    border-radius: 4px;
    font-size: large;
}